{% extends 'mainapp/main.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="header-bar">
    <div>
        <p>Hello, {{ request.user }}</p>
        <p>Here is your Shopping List</p>
    </div>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
</div>

<div class="task-items-wrapper">
    {% for item in items %}
    <div class="task-wrapper">
        {% if item.completed %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'item-update' item.id%}">{{ item }}</a></s></i>
        </div>
        <a class="delete-link" href="{% url 'item-delete' item.id %}">&#215;</a>

        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'item-update' item.id %}">{{ item }}</a>
        </div>
        <a class="delete-link" href="{% url 'item-delete' item.id %}">&#215;</a>
        {% endif %}
        
    </div>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
    <a class="add-link" href="{% url 'item-create' %}"></a>

</div>

</div>
{% endblock content %}