<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
</head>
<body>
    <h1>My Shopping List</h1>
    <table>
        <tr>
            <th>Things to purchase</th>
        </tr>
        {% for purchase in object_list %}
        <tr>
            <td><a href='{% url "purchase-detailed" purchase.pk %}'>{{ purchase.quantity }}{{ purchase.quantityType.get_status_display }} {{ purchase.title }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="">Add item</a>

</body>
</html>