<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
</head>
<body>
    <h1>My Shopping List</h1>
    <table>
        <tr>
            <th>Things to purchase</th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td>{{ item.quantity }}{{ item.quantityType.get_status_display }} {{ item.title }}</td>
            <td><a href='{% url "item-detailed" item.pk %}'><button>Details</button></a></td>
            <td><a href='{% url "item-update" item.pk %}'><button>Update</button></a></td>
            <td><a href='{% url "item-delete" item.pk %}'><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <a href='{% url "item-create" %}'><button>Add item</button></a>

</body>
</html>